body{
	background-color:#AFEEEE;
}
/*.classical {
	width:55%;
	margin:auto;
	position:absolute;
	z-index:-1;
}*/
.bcontainer{
	width:100%;
	background-color:blue;
}
.tab{
	font:20px nunito;
	text-align:center;
}
a:link {
    color: #FF4500;
}
a:visited {
    color: #FFFFFF;
}

a:hover {
	font-size:95%;
    color: #FF00FF;
}

a:active {
    color: #0000FF;
}
ul{
	padding:0;
	margin:1.5%;
}

li {
	 list-style:none;
	 overflow: hidden;
	 float:left;
    
}

a {
    display: inline-block;
    width: 6em;
    height:1.5em;
    margin:.6em;
}
#main{
	width:40%;
	height:100%;
	margin:auto;
}
 .maintext{
 	font:Lato;
	font-color:#0f0;
	text-align:center;
}
#nyc{
	width:100%;
	max-width:55%; 
	display:block;
	margin:0 auto;
	padding:1%;
}
#skyline{
	width:100%;
	background-color:#f4f489;
}
.vid_jay{
	padding:1.5%;
	float:left;
	width:50%;
	max-width:100%;
	margin:0 auto;
}
.vidjtext{
 	border: solid blue .8em;
 	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    max-width:100%;
    margin:0 auto;
}
#upcoming{
	width:100%;
	background: -webkit-radial-gradient(#4096ee, white); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#4096ee, white); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#4096ee, white); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#4096ee, white); /* Standard syntax (must be last) */
}
.eventsright{
	width:20%;
	float:right;
	padding:5%;
}
.eventsleft{
	width:20%;
	float:left;
	padding:5%;
}
.eventscenter{
	width:45%;
	margin:auto;
	padding:4.74%;
}
.events img {
	width:100%;
    padding:5%;
    border: .4em solid #4096ee;
} 	
.events-text{
	width:120%;
	margin: 2%;
	text-align:center;
}
#music-align{
	padding:1em;
	float:left;
}
.music-pic1{
	display: inline;
	width:100%;
	max-width:32.5%;
}
.music-pic2{
	display: inline;
	width:100%;
	max-width:34.1%;
}
.music-pic3{
	display: inline;
	width:100%;
	max-width:31%;
}
#size{
	width:100%;
	background-color:red;
	
}
.genre{
	float:left;
	width:100%;
	margin:0 auto;
}
.eventspic{
	display:inline;
	width:100%;
	max-width:25%;
}
.otherpic{
	display:inline;
	width:100%;
	max-width:21%;
}
.infoevents{
	width:25%;
	font:;
}






