body{
	background-color:#6AC5AC;
}
#main{
	font-color:white;
	width:25em;
	text-align:center;
}/*
.nycwrapper {
	width:100%;
	max-width:65%;
	margin:auto;
}*/

nav.tab{
	font:20px nunito;
	text-align:center;
	width:60em;
}
a:link {
    color: white;
}
a:visited {
    color: #00FF00;
}

a:hover {
	font-size:95%;
    color: #FF00FF;
}

a:active {
    color: #0000FF;
}
ul{
	padding:0;
	margin:1em;
}

li {
	 list-style:none;
	 overflow: hidden;
	 float:left;
    
}

a {
    display: inline-block;
    width: 6em;
    height:1.2em;
    margin:.4em;
    background-color: #8A2BE2;
}
.vid_jay{
	padding:1em;
	float:left;
	width:50%;
	max-width:100%;
	margin:0 auto;
}
.vidjtext{
 	border: solid blue .7em;
 	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    max-width:100%;
    margin:0 auto;
}
div.eventsright{
	width:15em;
	float:right;
	background:;
	padding:5%;
}
div.eventsleft{
	width:15em;
	float:left;
	background:;
	padding:5%;
}
div.eventscenter{
	width:30em;
	margin:auto;
	background:;
	padding:5%;
}
figure.events img {
	width:100%;
	display:inline;
    padding:1em;
    border: .4em solid #0000ff;
    background:yellow;
} 	
figcaption.events-text{
	width:120%;
	margin: .1em;
	text-align:center;
}

















